**/.git
**/.gitignore
**/.github
**/.vscode
**/.idea
**/.vs
**/node_modules
**/bin
**/obj
**/out
**/*.md
!CLAUDE.md
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/LICENSE
**/README*
**/.editorconfig
**/*.sln
**/*.slnx
**/*.DotSettings*
**/frontend
**/database
**/*.log
**/*.user
**/*.suo
**/.augment
