<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ApiHost" value="127.0.0.1" />
		<add key="ApiPort" value="5000" />
		<add key="ApiConnectionTimeout" value="30" />
		<add key="ApiRequestTimeout" value="30" />
		<add key="SignalRHost" value="127.0.0.1" />
		<add key="SignalRPort" value="5001" />
	</appSettings>
</configuration>
