<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<appSettings>
		<add key="ApiHost" value="127.0.0.1" />
		<add key="ApiPort" value="5000" />
		<add key="ConnectionTimeout" value="30" />
		<add key="RequestTimeout" value="30" />
	</appSettings>
</configuration>
